<body class="connect-tree grid-middle padded">

  <div class="col-12 grid-left">
    <div class="col-6-right">
      <div class="connect-tree top-image padded">
        <div class="connect-tree-image radius border-hover-image top-image-border " style="background-image:url('{{page.top-image.image}}'); ">
          </div>
        </div> 
      </div>
    </div>  
  
  <div class="col-12 grid-center">
    <div class="col-12-center editable connect-tree-links padded">
      <p><a href="https://thewkndwanders.myflodesk.com/snyoptruot">&nbsp;✨Free&nbsp;Florida Springs Guide✨ </a>&nbsp; &nbsp;</p>
      <p><a href="https://www.amazon.com/shop/the.weekend.wanders">★ &nbsp; &nbsp; Shop Our Amazon</a></p>
      <p><a href="https://thriftytraveler.com/refer/?referralCode=0a298b03-8656-46fa-b777-97329c808f01">&nbsp;✈ &nbsp; Discounted Flights | $20</a>&nbsp;</p>
      <p>&nbsp;<a href="https://thewkndwanders.com">™ &nbsp;Website</a></p>
      <p>&nbsp;<a href="https://thewkndwanders.com/media-kit.html">✤ &nbsp; &nbsp; Media Kit</a></p>
      <p><a href="https://crrnt.app/VESSI/JN8oMW46">☁ &nbsp; Vessi Waterproof Shoes | 10%</a></p>
      <p><a href="https://beistravel.com/?ll_ref_id=kRV9AEbiB">🧳 &nbsp; Go To Travel Luggage | 15%</a>&nbsp;</p>
      <p><a href="https://airalo.tp.st/zfHLLH87">✆ &nbsp;Best eSIM | $3 off : TARA4132</a></p>
      <p>&nbsp; &nbsp;<a href="https://www.tiktok.com/@the.weekend.wanders">TikTok</a></p>
      <p>&nbsp;&nbsp;<a href="https://www.youtube.com/@theweekendwanders">&nbsp;Youtube</a>&nbsp;</p>
    </div>
  </div>  
  <div class="col-12 grid-right">
    <div class="col-6">
      <div class="connect-tree padded">
        <div class="connect-tree-image border-hover-image bottom-image-border " style="background-image:url('{{page.bottom-image.image}}'); ">
          </div>
        </div> 
      </div>
    </div>  

</body>