<body class="connect-tree grid-middle padded">

  <div class="col-12 grid-left">
    <div class="col-6-right">
      <div class="connect-tree top-image padded">
        <div class="connect-tree-image radius border-hover-image top-image-border " style="background-image:url('{item.top-image.image}}'); ">
          </div>
        </div> 
      </div>
    </div>  
  
  <div class="col-12 grid-center">
    <div class="col-12-center editable connect-tree-links padded">
      {{item.textarea_html}}
    </div>
  </div>  
  <div class="col-12 grid-right">
    <div class="col-6">
      <div class="connect-tree padded">
        <div class="connect-tree-image border-hover-image bottom-image-border " style="background-image:url('{{page.bottom-image.image}}'); ">
          </div>
        </div> 
      </div>
    </div>  

</body>
