<style>
  #content-blocks-{{forloop.index0}} .connect-tree {background-color: {{item.colors.background-color}};}
  
   #content-blocks-{{forloop.index0}} .top-image-border {border: 2.5px solid {{item.colors.top-border-color}};}
  
   #content-blocks-{{forloop.index0}} .bottom-image-border {border: 2.5px solid {{item.colors.bottom-border-color}};}
  
   #content-blocks-{{forloop.index0}} .padded {padding: 5%;}
  
   #content-blocks-{{forloop.index0}} .connect-tree 
      {
      background-size: cover;
      background-position: center;
      }
  
   #content-blocks-{{forloop.index0}} .connect-tree .connect-tree-image 
      {
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      padding-bottom: 100%;
      }
  
  #content-blocks-{{forloop.index0}}  .connect-tree-links p
      {padding: 3%;  }
  
   #content-blocks-{{forloop.index0}} .connect-tree-links a:hover
      {background-color: transparent;}
  
  
  #content-blocks-{{forloop.index0}}  .connect-tree-links a 
      {
      padding: .8rem 2rem .6rem;
      border-radius: 100px;
      border: 2.5px solid {{item.colors.links.border-color}};
      background-color: {{item.colors.links.background-color}};
      color: {{item.colors.links.text-color}};
      font-family: {{item.fonts.link-font}};
      }
  
   #content-blocks-{{forloop.index0}} .connect-tree-links a:hover 
      {
     background-color: {{item.colors.links.background-hover-color}};
     color: {{item.colors.links.text-hover-color}};
     border: 2.5px solid {{item.colors.links.text-hover-color}};
      }
</style>

<section class="connect-tree grid-middle padded">

  <div class="col-12 grid-left">
    <div class="col-6-right">
      <div class="connect-tree top-image padded">
        <div class="connect-tree-image radius border-hover-image top-image-border " style="background-image:url('{{item.images.top-image}}'); ">
          </div>
        </div> 
      </div>
    </div>  
  
  <div class="col-12 grid-center">
    <div class="col-12-center connect-tree-links padded">
      {{item.textarea_html}}
    </div>
  </div>  
  <div class="col-12 grid-right">
    <div class="col-6">
      <div class="connect-tree padded">
        <div class="connect-tree-image border-hover-image bottom-image-border " style="background-image:url('{{item.images.bottom-image}}'); ">
          </div>
        </div> 
      </div>
    </div>  

</section>
