<!DOCTYPE html>
<html lang="en">
  <head>

    <!-- Meta Data -->
      <meta charset="utf-8" />
      <!-- Viewport meta tag -->
      <meta name="viewport" content="width=device-width" />

      <!-- Meta data for SEO purposes. -->
      <title> {{page.seo.title}} </title>

      <meta name="description" content="{{page.seo.description}}" />
      <meta name="keywords" content="{{page.seo.keywords}}" />

      <!-- meta data to tell the browser that your devide is responsive -->
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <meta name="robots" content="index, follow" />
      <meta name="mobile-web-app-capable" content="yes" />
      <meta name="apple-mobile-web-app-capable" content="yes" />
      <meta name="apple-mobile-web-app-status-bar-style" content="default" />

      <!--  Social media sharing META Tags -->
      <meta property="og:title" content="{{page.seo.title}}" />
      <meta property="og:description" content="{{page.seo.description}}" />
      <meta property="og:image" content="{{ page.seo.social-share_image }}" />
      <meta property="og:url" content="{{page.seo.url}}" />
      <meta name="twitter:card" content="{{page.seo.description}}" />
      <meta name="og:site_name" content="{{page.seo.title}}" />

      <!-- twitter card -->
      <meta name="twitter:card" content="{{page.seo.description}}" />
      <meta name="twitter:description" content="{{page.seo.description}}" />
      <meta name="twitter:title" content="{{page.seo.title}}" />
      <meta name="twitter:site" content="{{page.seo.url}}" />
      <meta name="twitter:creator" content="{{page.seo.social-alt}}" />
      <meta name="twitter:image:alt" content="{{ page.seo.social-share_image }}" />

      <!-- link to browser icon tag -->
      <link rel="icon" href="{{site.data.general.basics.browser-tag_image}}" type="image/x-icon" />
      <link rel="apple-touch-icon" sizes="180x180" href="{{site.data.general.basics.browser-tag_image}}" />
      <link rel="icon" type="image/x-icon" sizes="32x32" href="{{site.data.general.basics.browser-tag_image}}" />
      <link rel="icon" type="image/x-icon" sizes="16x16" href="{{site.data.general.basics.browser-tag_image}}" />
      <link rel="manifest" href="/site.webmanifest" />

      <!-- GOOGLE FONTS -->
      <link rel="preconnect" href="https://fonts.googleapis.com" />
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
      <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet" />
      <link href="https://fonts.googleapis.com/css2?family=Amatic+SC&family=Barlow+Condensed:wght@300&family=Belleza&family=Kaushan+Script&family=Montserrat:wght@300;400&family=Oooh+Baby&family=Playfair+Display&family=Quicksand&family=Raleway&family=Roboto:wght@100;300;400&display=swap" rel="stylesheet" />
      <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&family=Raleway:ital,wght@1,300;1,400;1,500;1,600&family=Shrikhand&display=swap" rel="stylesheet" />

    <!-- iconify icons -->
    <script src="https://code.iconify.design/1/1.0.6/iconify.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.css" />
    {{site.data.head.frist-script-to-go-in-the-head}}
    {{site.data.head.second-script-to-go-in-the-head}}
    {{site.data.head.thrid-script-to-go-in-the-head}}
   

    

      <!-- Gridlex -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.7.1/gridlex.min.css" />

      <!-- fanceybox gallery -->
      <link rel="stylesheet" href="/css/jquery.fancybox.min.css" />



      <link rel="stylesheet" href="/slick/slick.css" />
      <link rel="stylesheet" href="/slick/slick-theme.css" />

      <!-- styles -->
      <link rel="stylesheet" href="/styles.css" />

  </head>
  


   {% for item in page.content-blocks %}
    <div class="cms-editor-link" data-cms-editor-link="cloudcannon:#content-blocks[{{ forloop.index0 }}]">
        <span class="cms-editor-button"></span>
      {% include {{item._section-type}}.html %}
    {% endfor %}


</div>
</html>